.result__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
}

.result__date {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    text-align: left;
    padding-left: 55px;
}

.result__date span{
    color: greenyellow;
}